  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <%= simple_form_for @thing do |f| %>
        <%= f.input :title %>
        <%= f.input :description %>
        <%= f.input :price %>
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>
        <%= f.input :address %>
        <%= f.input :category, collection: Thing::CATEGORY_LIST %>
        <%= f.input :days_nb_min %>
        <%= f.input :days_nb_max %>
        <%= f.input :starting_available_date, as: :date, html5: true%>
        <%= f.input :ending_available_date, as: :date, html5: true%>
        <%= f.button :submit, class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
