<h1>Liste des objets</h1>
<div class="container">
  <div class="row">
    <% @things.each do |thing| %>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="card"
  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= thing.photo %>')">
          <div class="card-category"><%= thing.category %></div>
          <div class="card-description">
            <h2><%= thing.title %> | <%= thing.price %>€</h2>

          </div>

          <%= link_to "", thing_path(thing), class: "card-link" %>
        </div>


      </div>
    <% end %>
  </div>
  <% if policy(Thing).create? %>
    <%= link_to "Ajouter un objet", new_thing_path %>
  <% end %>
</div>
