<h1>Objet à louer</h1>
<div class="container">
	<div class="row">
		<div class="col-sm-12 col-md-6">
			<h1><%= @thing.title %></h1>
			<ul>
				<li><p><%= @thing.description %></p></li>
				<li><p><%= @thing.price %></p></li>
				<li><p><%= @thing.photo %></p></li>
				<li>"map à ajouter"</li>
			<li>"formulaire de réservation à afficher"</li>

			</ul>
						<%= link_to "Retour à la liste de tous les objets", root_path %>
		</div>