<div class="container">

  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <div class="thumbnail" id="thing-card">
        <div class="caption">
          <h3><%= @thing.title %> <em><%= @thing.price %>€</em></h3>
          <p><strong>Catégorie : </strong><%= @thing.category %></p>
          <p><strong>Disponibilités : </strong><%= @thing.starting_available_date %> - <%= @thing.ending_available_date %></p>
          <p><%= @thing.description %></p>
          <p>
            <% if policy(@thing).edit? %>
              <%= link_to "Mettre à jour", edit_thing_path(@thing), class: "btn btn-info" %>
            <% end %>
            <% if policy(@thing).destroy? %>
              <%= link_to "Supprimer", thing_path(@thing), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-info"%>
            <% else %>
              <%= link_to "Réserver cet objet", new_thing_booking_path(@thing), class: "btn btn-info"%>
            <% end %>
          </p>
        </div>
        <%= cl_image_tag @thing.photo.url(:thumnail) %>
      </div>
      <p><%= link_to "<< Retour à la liste de tous les objets", things_path %></p>
    </div>
  </div>



</div>
